body {
  background-color: lemonchiffon;
}

header {
  text-align: center;
}

.Header--h1 {
  line-height: 2em;
  font-size: 5em;
  display: inline-block;
  font-family: fantasy, Roboto, sans-serif;
}

.Header--img {
  width: 120px;
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 1em 2em;
  margin: 20px;
}
.Big_Bird--img,
.Cookie--img {
  height: 300px;
  float: left;
}

.Cookie--img {
  float: right;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

article {
  height: 300px;
  display: inline-block;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin: 1em 0;
  display: inline-block;
}

.Big_Bird--article {
  font-family: fantasy, sans-serif;
  width: 60%;
  float: right;
}

.Big_Bird--article h2 {
  font-size: 2em;
  font-family: fantasy, sans-serif;
  margin: .5em;
  display: inline-block;
}

.Cookie--article {
  width: 35%;
  text-align: left;
}

.Cookie--article input {
  margin: 10px 0;
  font-size: 1.25em;
}

.Cookie--article p {
  margin-top: 1.5em;
  font-size: 1.25em;
}

#Hint {
  margin-left: 1.5em;
  display: inline-block;
}

#answerArray {
  font-size: 1.5em;
  letter-spacing: .5em;
  font-family: Roboto;
}

#guessArray {
  letter-spacing: .25em;
  font-family: Roboto;
}
